{% extends "base.html"%}

    {% block content %}
    {%for a in a1%}
      <table border="2" style="background-color: blueviolet;margin-left: auto;
      margin-right: auto;border-spacing:30px;font-size: large;;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
      <tr style="font-size: x-large;color: rgb(246, 251, 253); background-color: rgb(179, 179, 70);">
        <th>id</th>
        
        <th>name</th>
        <th>username</th>
      </tr>
      <tr> 
        <td>{{a.id}}</td>
       
        <td>{{a.name}}</td>
        <td>{{a.username}}</td>
    </tr> 

    
    

    </table>
    <br><br>
    <div style="text-align:center; vertical-align: middle; justify-content: center;align-items: center;">
      
      <span class="dot" style="font-size:30px;padding-top: 70px;"><a href="{% url 'follower'%}?q={{a.id}}">follower</a></span>
      
      <span class="dot" style="font-size:30px;padding-top: 70px;"><a href="{% url 'following'%}?q={{a.id}}">following</a></span>
      </div>
    {%endfor%}
    {% endblock content %}
      
